@use 'app/values.scss';

$wrapper-height: 385px;

.wrapper {
    width: 100%; 
    min-height: fit-content; 
    font-size: 32px; 
}

.black {
    background-color: rgba(0, 0, 0, 0.20);
} 

.fields-grid-wrapper {
    display: grid;
    
    width: 100%;
    min-height: fit-content;
    
    padding: 55px 110px;

    gap: 30px; 

    grid-template-columns: repeat(4, 1fr); 
}
