@use 'app/values.scss';

.wrapper {
    display: grid; 

    gap: 50px;

    .flex-conteiner { 
        display: flex;

        gap: 30px;
        
        .border-line { 
            width: 100%;

            border: 1px solid values.$line-color; 
    
            .list-item {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
        
                background-color: values.$color-primary;
        
                justify-items: center;
                align-items: center; 
        
                height: 120px;
                padding: 10px; 
            
                font-size: 28px; 
            } 
        }
    }


}
