@use 'app/values.scss';

$wrapper-height: 385px;

.wrapper {
    width: 100%; 
    min-height: fit-content; 
    font-size: 32px; 

    display: flex;
    flex-direction: column;

    gap: 50px;

    .fields-grid-wrapper {
        display: grid;
        
        width: 100%;
        min-height: fit-content;
        
        padding: 55px 110px;
    
        gap: 30px; 
    
        grid-template-columns: repeat(4, 1fr); 
        
        .input-container {
            font-size: 32px;
            grid-column: 1/3;
            .input {
                font-size: 28px;
                width: 70%;
                
                height: 65px;
        
                padding: 10px; 
        
                background-color: values.$bg-color;
        
                border: 1px solid values.$line-color
            } 
        }
    }

    .flex-button-wrapper {
        display: flex;

        justify-content: end;
        
        gap: 60px;

        margin-right: 75px; 

        text-align: center;

        height: 60px;

        @mixin layout-mixin {
            padding: 3px;

            cursor: pointer;

            user-select: none;
        }

        .button-reset {
            @include layout-mixin();

            width: 145px;

            border: 3px solid #7C322D;

            background-color: #A5433C;


        }

        .button-accept {
            @include layout-mixin();

            width: 345px;

            border: 3px solid #378186;

            background-color: values.$line-color;

            cursor: pointer;

            user-select: none;
        }
    }
}

.black {
    background-color: rgba(0, 0, 0, 0.20);
} 

