@use 'app/values.scss';

$wrapper-height: 385px;

.wrapper {
    width: 100%; 
    min-height: fit-content; 
    font-size: 36px; 
}

.black {
    background-color: rgba(0, 0, 0, 0.20);
}

.fields-body {
    width: 100%; 
    min-height: fit-content; 
}

.fields-grid-wrapper {
    width: 100%;
    min-height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}
