@use 'app/values.scss';

.wrapper {
    display: grid; 

    gap: 50px;

    .flex-conteiner { 
        display: flex;

        gap: 30px;

        .border-line { 
            width: 100%;

            border: 1px solid values.$line-color; 
    
            .list-item {
                display: grid;
                grid-template-columns: repeat(5, 1fr) 80px; 
        
                background-color: values.$color-primary;
        
                justify-items: center;
                align-items: center; 

                min-height: 120px;
                padding: 10px; 
            
                font-size: 28px; 
            } 
        } 

        .img {
            cursor: pointer;
        }

    }
    
    
}

.grid-hidden {
    display: flex; 

    background-color: values.$color-primary;

    font-size: 28px; 

    justify-content: space-evenly;

    padding: 10px; 

    @mixin item {
        display: flex;
        flex-direction: column;
    }

    .item-1 {
        @include item; 
    }

    .item-2 {
        @include item; 
    }

    .item-3 {
        @include item; 
    }
}