@use '@app/values.scss';

$cell-size: 35px;
$cell-font-scale: 0.6;
$hover-bg-color: #ffffff25;
$text-px: 10px;

.wrapper {
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  user-select: none;
  .arrow {
    width: $cell-size;
    height: $cell-size;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: values.$line-color;
    }

    &.disabled {
      color: #ffffff38;
      cursor: default;
      &:hover {
        background: transparent;
      }
    }
  }

}

.month-year {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  @mixin ym {
    // flex-grow: 1;
    padding: 0 $text-px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 0%;
    font-size: calc($cell-size * $cell-font-scale);
    cursor: pointer;

    &:hover {
      background: $hover-bg-color;
    }
  }
  
  .month {
    @include ym();
  }
  .year {
    @include ym();
  }
}

.ok-button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $cell-size;
  cursor: pointer;
  font-size: calc($cell-size * $cell-font-scale);

  &:hover {
    background: $hover-bg-color;
  }
}

.day-names-row {
  // display: flex;
  display: none;
  div {
    width: $cell-size;
    height: $cell-size;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    color: #ffffff;
  }
}

.pick-area {
  width: calc($cell-size * 7);
  height: calc($cell-size * 6);
}


.page-days {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(7, $cell-size);
}

.day {
  width: $cell-size;
  height: $cell-size;
  line-height: calc($cell-size * $cell-font-scale);
  font-size: calc($cell-size * $cell-font-scale);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: $hover-bg-color;
  }

  &.active {
    background: values.$line-color;
  }

  &.excluded-day {
    color: #ffffff42;
    // pointer-events: none;

    &.active {
      // background: color-mix(in srgb, values.$line-color 40%, transparent);
      background: color-mix(in srgb, values.$line-color 40%, transparent);

    }
  }
}

.months {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
}

.month {
  height: $cell-size;
  padding: 0 $text-px;
  font-size: calc($cell-size * $cell-font-scale);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  
  &:nth-child(odd) {
    justify-content: flex-start;
  }
  
  &:hover {
    background: $hover-bg-color;
  }

  // &.visible-now {
  //   outline: 1px dashed values.$line-color;
  //   outline-offset: -1px;
  // }

  &.active {
    background: values.$line-color;
  }
}

.years {
  display: grid;
  gap: 0;
  justify-content: space-between;
  grid-template-columns: repeat(3, auto);
}

.year {
  height: $cell-size;
  padding: 0 $text-px;
  font-size: calc($cell-size * $cell-font-scale);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: $hover-bg-color;
  }

  // &.visible-now {
  //   outline: 1px dashed values.$line-color;
  //   outline-offset: -1px;
  // }

  &.active {
    background: values.$line-color;
  }
}