@use 'app/values.scss';


$line-thickness: .5px;
$fat-line-thickness: 1px; 
$corner-size: 20px;
$quad-size: 10px;
$offset: calc(-1 * $quad-size / 2);
$min-line-length: 5px;

.wrapper {
    min-width: calc($quad-size * 2 + $min-line-length);
    min-height: calc($quad-size * 2 + $min-line-length);
    padding: $quad-size;
    position: relative; 
    border-color: values.$line-color;
}

@mixin corner {
    position: absolute;
    box-sizing: border-box;
    width: $quad-size;
    height: $quad-size;
    border: 1px solid;
    background-color: values.$bg-color;
    border-color: inherit; 
    z-index: 3;
  }

  .lt-corner {
    @include corner();
    left: $offset;
    top: $offset;
  }
  
  .rt-corner {
    @include corner();
    right: $offset;
    top: $offset;
  }
  
  .lb-corner {
    @include corner();
    left: $offset;
    bottom: $offset;
  }
  
  .rb-corner {
    @include corner();
    right: $offset;
    bottom: $offset;
  }

  @mixin corner-line {
    width: $corner-size;
    height: $corner-size;
    border: $fat-line-thickness solid;
    border-color: values.$line-color;
    position: absolute; 
    z-index: 2;
  }
  
  .lt-corner-line {
    @include corner-line();
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
  }
  
  .rt-corner-line {
    @include corner-line();
    right: 0;
    top: 0;
    border-left: none;
    border-bottom: none;
  }
  
  .lb-corner-line {
    @include corner-line();
    left: 0;
    bottom: 0;
    border-right: none;
    border-top: none;
  }
  
  .rb-corner-line {
    @include corner-line();
    right: 0;
    bottom: 0;
    border-left: none;
    border-top: none;
  }