@use '@app/values.scss';

.wrapper {
  position: relative;
  font-size: 36px;
  letter-spacing: 20px;
  text-align: center;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, values.$line-color, transparent);
}
