@use '../lib/shared.scss';
@use '@app/values.scss';

.wrapper {
  display: flex;
  height: shared.$layout-size;
  overflow: visible;
  z-index: 1;
}


.links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 0px;
}

@media (min-width: 1300px) {
  .links {
    gap: 65px;
  }
}
