@use '@app/values.scss';
@use '../lib/shared.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.logo.sp1 {
  box-sizing: border-box;
  width: shared.$layout-size;
  height: shared.$layout-size;
  padding: 0;
  flex-shrink: 0;
}

.body-with-sidebar {
  flex-grow: 1;
  display: flex;
  min-width: 0;
  min-height: 0;
}

.body {
  width: 100%;
  height: 100%;
  display: block;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  color: white;
  position: relative;
}

.bg-logo {
  position: fixed;
  object-fit: contain;
  display: block;
  pointer-events: none;
  left: shared.$layout-size;
  top: shared.$layout-size;
  width: calc(100% - shared.$layout-size);
  height: calc(100% - shared.$layout-size);
}

.auth-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.auth-page-bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}

.auth-title {
  pointer-events: none;
  width: 70%;
  min-width: 350px;
  max-width: 700px;
  aspect-ratio: 166/15;
}

.auth-form {
  width: 40%;
  min-width: 350px;
  max-width: 400px;
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}