@import '@app/values.scss';

.flex-conteiner-coin { 
    display: flex;
    flex-direction: column;
    width: $widget-coin-width; 
    font-size: $text-size24;
    
    .coin-conteiner {
        padding: $text-padding-tb $text-padding-lr;
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        background-color: $color-primary; 
        opacity: $text-opacity;
    }

    .coin-scroll {
        height: 102px; 
        padding: $text-padding-tb $text-padding-lr; 
        background-color: $color-primary;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
          }
    }

    .text {
        opacity: $text-opacity; 
    }

} 