@import '@app/values.scss';

.flex-conteiner-first-level { 
    font-size: $text-size22; 

    width: $widget-first-level-width;
    height: $widget-first-level-height;

    background-color: $color-primary;

    padding: 15px;

    justify-content: space-between;
    
    align-items: center; 

    display: flex; 

    .text-first-level {
        width: 120px;

        opacity: $text-opacity;
    }

    .text-first-level1 {
        text-align: center; 
    }
} 