.wrapper {
  min-width: 100%;
  min-height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.topic {
  margin-bottom: 20px;
  min-width: 0;
  font-size: 28px;
  width: 100%;
  max-width: 1500px;
  align-self: center;
}

.gpu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
