@use '@app/values.scss';

$item-gap: 10px;
$item-px: 15px;
$offset: 50px;
$padding: 30px;

.wrapper {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  gap: $offset;
  padding: $padding;
  align-items: flex-start;
  justify-content: center;
}

.left-panel {
  position: sticky;
  top: 30px;
  border: 1px solid values.$line-color;
  border-left-width: 4px;
  border-right: none;
  min-width: 220px;
  width: min-content;
  max-width: 400px;
  display: block;
  font-size: 24px;

  &>* {
    display: block;
    border-right: 4px solid values.$line-color;
    padding: calc($item-gap / 2) $item-px;

    &:first-child {
      padding-top: $item-gap;
    }
    &:last-child {
      padding-bottom: $item-gap;
    }
  }
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link {

  div {
    position: relative;
    border: 1px solid values.$line-color;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:global(.active) {
    border-right-color: transparent;
    div {
      background: values.$line-color;
      box-shadow: 0 0 10px values.$line-color;
      &::after {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        height: 0;
        width: calc($item-px + $offset + 6px);
        border-bottom: 1px solid values.$line-color;
      }
    }

  }
}

@mixin body() {
  flex-grow: 1;
  min-width: 50px;
  min-height: min-content;
  height: auto;
  align-self: stretch;
}

.body {
  @include body();
  padding: 40px;
  max-width: 1500px;
}

.body-no-border {
  @include body();

}
