@use '@app/values.scss';

$wrapper-height: 385px;

.wrapper {
	min-height: fit-content;
	font-size: 32px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.box {
	display: grid;
	padding: 55px 80px;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr); 
	background-color: rgba(0, 0, 0, 0.20);
}

.buttons {
	display: flex;
	justify-content: end;
	gap: 60px;
	margin-right: 75px; 
	text-align: center;
}

.field {
  min-width: 0;
}

.field-header {
  display: flex;
  justify-content: space-between;
}

.field-label {
  color: inherit;
}

.field-add-button {
	color: values.$line-color;
	user-select: none;
  cursor: pointer;

  &:hover {
		color: values.$text-color-thirdy;
  }
}

.flight-sheet-name {
	display: block;
	grid-column: 1 / 3;
}

.flight-sheet-name-label {
	color: inherit;
}

.modal-body {
	padding: 20px;
	min-width: 0;
	width: 600px;
	max-width: 100%;
}

@media screen and (max-width: 1500px) {
	.box {
		grid-template-columns: repeat(2, 1fr);
	}

	.buttons {
		margin-right: 0;
	}
}

@media screen and (max-width: 950px) {
	.box {
		grid-template-columns: repeat(1, 1fr);
	}

	.flight-sheet-name {
		grid-column: 1;
	}
}
