@use '@app/values.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@mixin box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 20%);
  padding: 30px;
}

.password {
  @include box();
}

.name {
  @include box();
}

@mixin box-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  line-height: 28px;
  gap: 20px;
  min-width: 0;
  width: 400px;
  max-width: 100%;
}

.password-inner {
  @include box-inner();
}

.name-inner {
  @include box-inner();
}

@mixin box-inner-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 28px;
  min-width: 0;
  max-width: 100%;
  width: 400px;
}

.password-inner-inner {
  @include box-inner-inner();
}

.name-inner-inner {
  @include box-inner-inner();
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
