@import '@app/values.scss';

.flex-conteiner-cpu { 
    display: flex;
    flex-direction: column; 

    width: $widget-cpu-width; 
    background-color: $color-primary; 

    .cpu-conteiner {
        padding: $text-padding-tb $text-padding-lr;
        font-size: $text-size24; 
        border-bottom: $line-size-smaller solid $line-color;
        display: flex;
        flex-direction: column; 
    }
    .cpu-info {
        font-size: $text-size20;
        display: flex; 
        .cpu-info-element { 
            width: 400px; 
            padding: $text-padding-tb $text-padding-lr;
            display: flex;
            flex-direction: column; 
        } 
        .cpu-info-element:nth-child(n+2) {
            border-left: $line-size-smaller solid $line-color;
        } 
    }

    .text {
        opacity: $text-opacity; 
    }
} 
