.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 28px;
}

.main-box-wrapper {
  background: rgba(0, 0, 0, 20%);
  padding: 20px;
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  align-self: flex-end;
  display: flex;
  gap: 30px;
}