@import '@app/values.scss';

.border-line-flex {
    user-select: none; 

    height: $size-bar; 

    border-bottom: $line-size solid $line-color; 

    .flex-conteiner-horizontal { 
        display: flex;
        font-size: $text-size32; 
        justify-content: center;
        align-items: center; 
        gap: $gap-80; 
    }

    .profile {
        
    }
}

.nav-link { 
    text-align: center;
    width: 180px;
    height: 80px;
    display: inline-block;
    color: $text-color-thirdy; 
    background-image: linear-gradient(to top, #594125B2, #3b3e3f00);  
    border-bottom: $line-size solid $text-color-thirdy;       
}