@import 'app/values.scss';

.flex-conteiner-horizontal {
    margin-left: $size-bar;

    display: flex;

    height: $size-bar;

    font-size: $text-size32;

    justify-content: center;
    align-items: center; 

    border-bottom: $line-size solid $line-color; 

    gap: $gap-5vw; 

    .flex-conteiner-horizontal_element { 
        text-align: center;
        width: 200px;
    }
}

.nav-link {
    color: $text-color-thirdy;
    outline: none;
    line-height: $vh-10;
    text-decoration: none;
    background-image: linear-gradient(to top, #594125B2, #3b3e3f00);  
    border-bottom: $line-size solid $text-color-thirdy;        
}