@import 'app/values.scss';

.flex-conteiner-horizontal {
    margin-left: $size-bar;

    display: flex; 
    
    height: $size-bar;

    font-size: $text-size32;

    justify-content: center;
    align-items: center; 

    border-bottom: 1px solid $line-color; 

    gap: 5rem; 

    .flex-conteiner-horizontal_element { 
        text-align: center;
        width: 12rem;
    }
}

.nav-link {
    color: $text-color-thirdy;
    outline: none;
    line-height: 5rem;
    text-decoration: none;
    background-image: linear-gradient(to top, #594125B2, #3b3e3f00);  
    border-bottom: 1px solid $text-color-thirdy;        
}