@import '@app/values.scss';

.flex-conteiner-vertical { 
    flex-shrink: 0;
    user-select: none;

    display: flex; 
    flex-direction: column;

    width: $size-bar; 
    // height: calc(100vh);
    // align-self: flex-start;
    position: sticky;
    top: 0;

    font-size: $text-size12;
    font-weight: $text-weight-light; 
    
    text-align: center; 
    

    gap: 160px; 

    .imageLin {
        height: 80px;
        border-bottom: $line-color solid 1px ;
    }

    .flex-conteiner-vertical-cont {
        display: flex;
        flex-direction: column; 
        gap: 100px;
        
        .flex-conteiner-vertical_element { 
            font-weight: $text-weight-light;
    
        }
    }
}

