@import '@app/values.scss';

.footer-system-info { 
    width: 100%;

    border-top: solid $line-size-smaller $line-color;

    padding: $padding-20;

    min-height: 100%;

    font-size: $text-size20;

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}