@import 'app/values.scss';

.monitoring { 
    display: flex;
    flex-direction: column; 

    justify-content: space-between;
    .flex-conteiner-monitoring { 

        padding: 0 $padding-30 0 $padding-30;

        padding-top: $padding-30;
    
        justify-content: center;

        gap: $padding-30;
    
        display: flex; 

        flex-wrap: wrap;
    } 

    .flex-conteiner-monitoring-footer { 
        
        padding-top: $padding-30;
    }
}