@import 'app/values.scss';

.monitoring {

    margin-left: $size-bar; 
    
    padding: 0 30px 0 30px;

    .flex-conteiner-monitoring { 

        padding-top: 30px;
    
        justify-content: space-between;
    
        display: flex; 

        flex-wrap: wrap;
    } 
}