@import 'app/values.scss';

.monitoring { 

    margin-left: $size-bar; 

    padding: 0 $padding-25 0 $padding-25;

    .flex-conteiner-monitoring { 

        padding-top: $padding-25;
    
        justify-content: center;

        gap: $padding-25;
    
        display: flex; 

        flex-wrap: wrap;
    } 
}