@import './values.scss';

$font-gill-sans: 'Gill Sans MT', sans-serif;

@font-face {
  font-family: 'Gill Sans MT';
  src: url('../../public/fonts/gill-sans-mt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

body {
  margin: 0;
  box-sizing: border-box;
  background: #20202B;
  color: $text-color-primary;
  font-family: $font-gill-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

