@use './values.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

$font-gill-sans: 'Gill Sans MT', sans-serif;

@font-face {
  font-family: 'Gill Sans MT';
  src: url('../shared/assets/gill-sans-mt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'Gemunu Libre';
  src: url('../shared/assets/GemunuLibre-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0; 
  background: #20202B;
  color: values.$text-color-primary;
  font-family: $font-gill-sans;
  font-size: 28px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: none; 
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: values.$line-color; 
  border: 3px solid values.$line-color;
}


.react-icon {
  font-size: 28px;
  padding: 0;

  &.icon-clickable {
    cursor: pointer;
    &:hover {
      background: #ffffff1f;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #606063 inset !important;
  font-size: 28px;
  color: white !important;
}

.thumb-vertical {
  background-color: red;
  height: 10px !important;
}
