$bg-color: #20202B;

$color-primary: #242834; 

$padding-20: 20px;
$padding-25: 25px;
$padding-30: 30px;

$line-size-smaller: .5px;
$line-size: 1px;
$line-size-2: 2px;
$line-size-3: 3px;
$line-color: #3C9EA5; 

$size-bar: 80px; 

$text-weight-light: 300;
$text-size12: 12px;
$text-size16: 16px;
$text-size20: 20px;
$text-size22: 22px;
$text-size24: 24px;
$text-size32: 32px;
$text-opacity: 65%;
$text-padding-tb: 10px;
$text-padding-lr: 10px;

$gap-80: 80px;

$vh-10: 80px;

$text-color-grey: #D9D9D9;
$text-color-value: #3C9EA5;
$text-color-green: #43C09B;
$text-color-red: #FC4E4E;
$text-color-primary: #FFFFFF;
$text-color-secondary: #d5d5d5;
$text-color-thirdy: #FC8800;

$gradient: #594125B2;
$gradien1: #3B3E3F00;

$widget-first-level-width: 227px;
$widget-first-level-height: 80px; 
$widget-cpu-width: 786px;
$widget-coin-width: 686px; 

.border-line {
    border: solid $line-size-smaller $line-color;
    padding: 7px;
}

.img-no-drag {
    user-select: none; 
}

.red {
    color: $text-color-red;
}

.green {
    color: $text-color-green;
}

.value {
    color: $text-color-value
}

.not-active {
    display: inline-block;
    width: 100%; 

    &:hover {
        background-image: linear-gradient(to top, rgba(128, 128, 128, 0.588), #3b3e3f00); 
    }
}

.not-active-click {
    display: inline-block;
    width: 100%; 
    background-image: linear-gradient(to top, #3c9ea5b8, #3b3e3f00); 
}