@use '@app/values.scss';

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 50px;
  row-gap: 20px;
  align-items: center;
}

.label {
  color: values.$line-color;
  grid-column: 1 / 3;
}

.field-label {
  color: white;
}

.field-value {
  flex-grow: 1;
}

.buttons {
  grid-column: 1 / 3;
  display: flex;
  gap: 30px;
  justify-self: end;
}
