.wrapper {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  gap: 30px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.data {
  width: 500px;
}

.data-topic {
  font-size: 25px;
  letter-spacing: 13px;
}

.data-body {
  padding: 20px;
}

.fields {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.field-item {
  display: flex;
  justify-content: space-between;
  font-size: 25px;

  &>*{
    white-space: nowrap;
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
  }

  label {
    color: rgb(255, 255, 255, 65%);
  }
}

.image {
  display: none;
  width: 240px;
}

@media screen and (min-width: 1260px) {
  .image {
    display: block;
  }
}
