@use "@app/values.scss";
@use 'sass:math';

$closed-height: 80px;
$p: 9px;

.wrapper {
  display: flex;
  gap: 30px;

  &.open {
    display: flex;

    .extra-data-wrapper {
      height: var(--inner-height);
    }

    .dropdown-icon {
      transform: rotate(180deg);
    }
  }
}

.container.sp1.sp2 {
  flex-grow: 1;
  min-height: $closed-height;
  padding: $p;
  height: fit-content;
}

.container-body {
  padding: 10px 20px;
  flex-grow: 1;
  display: block;
}

.common-data {
  display: grid;
  grid-template-columns: 450px 1fr min-content;
  $gap: 10px;
  align-items: center;
  gap: $gap;
  min-height: calc($closed-height - 2 * $p);

  &>* {
    line-height: auto;
  }

  .name {
    $line-height: 38px;
    font-size: 32px;
    line-height: $line-height;
    flex-grow: 1;

    .tridot-inside {
      display: none;
      // margin-top: calc($line-height / 2);
      transform: translateY(calc(#{$line-height} / 2 - 50%));
      align-self: flex-start;
    }
  }

  .fields {
    flex-shrink: 0;
    flex-grow: 1;
    display: grid;
    grid-template-columns:  1fr 1fr 1.5fr 1fr;
    justify-items: start;
    gap: $gap;
    row-gap: 0;
  }

  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    gap: 10px;
    font-size: 28px;

    .label {
      color: values.$line-color;
    }

    .value {
      display: block;
      color: white;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      min-width: 0;
    }
  }


  .dropdown-icon {
    display: block;
    color: values.$line-color;
    flex-shrink: 0;
    font-size: 50px;
    padding: 10px;
    transition: transform 200ms;
    cursor: pointer;
    
    &:hover {
      filter: drop-shadow(0 0 5px currentColor);
    }
  }
}

.extra-data-wrapper {
  height: 0;
  overflow: hidden;
  transition: height 200ms;
}

.extra-data {
  padding-top: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: 450px 1fr 1fr 1.5fr 1fr 49.99px;
  font-size: 28px;

  .field {
    display: flex;
    flex-direction: column;
    .label {
      color: white;
    }
  
    .value {
      color: #ffffffa1;
    }

  }

}

.tridot-outside {
  display: flex;
}

.tridot-button {
  cursor: pointer;
  align-self: center;
  $p: 4px;
  display: flex;
  padding: calc(2 * $p) $p;
  gap: $p;
  color: values.$line-color;
  background: currentColor;
  
  &:hover {
    box-shadow: 0 0 5px currentColor;
  }

  .dot {
    $size: 8px;
    color: white;
    display: block;
    border-radius: 50%;
    width: $size;
    height: $size;
    background: currentColor;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.gpu-list-container {
  display: grid;
  width: 500px;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
}

.gpu-list-container-body {
  background: transparent;
}

.gpu-list {
  width: 100%;
  background: transparent;
  overflow: auto;
}

.scroll-track {
  top: 0;
  bottom: 0;
  right: 0;
}

.scroll-thumb {
  background: color-mix(in srgb, values.$line-color 50%, transparent);
}

.gpu-item {
  $bg-color: #222222;
  margin-top: 10px;
  display: flex;
  gap: 20px;
  padding: 0 20px;
  align-items: center;
  background: $bg-color;
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  .gpu-item-index {
    min-width: 30px;
    width: fit-content;
  }

  .gpu-item-name {
    flex-grow: 1;
  }

  &:hover {
    background: color-mix(in srgb, $bg-color 90%, white);
  }

}

@media screen and (max-width: 1900px) {
  .common-data {
    display: grid;
    grid-template-columns: 450px 1fr min-content;
    .name {
      align-self: flex-start;
    }
    .fields {
      grid-template-columns: repeat(2, 1fr);
    }
    .field {
      justify-content: start;
    }
  }

  .extra-data {
    grid-template-columns: 450px repeat(2, 1fr) 49.99px;

  }

}

@media screen and (max-width: 1550px) {

  .common-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .name {
      display: flex;
      gap: 10px;
      width: 100%;
      justify-content: space-between;

      .tridot-inside {
        display: flex;
      }
    }

    .fields {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      justify-items: stretch;
      gap: 30px;
      row-gap: 0;
    }

    .field {
      display: flex;
      justify-content: space-between;
    }
    .dropdown-icon {
      display: none;
    }
  }

  .extra-data-wrapper {
    height: fit-content !important;
  }

  .extra-data {
    display: flex;
    flex-direction: column;
    gap: 0;

    .field {
      flex-direction: row;
      justify-content: space-between;
      .label {
        color: white;
      }
    
      .value {
        color: #ffffffa1;
      }
    }
  
  }

  .tridot-outside {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .common-data {
    .fields {
      grid-template-columns: 1fr;
    }
  }

}